{% extends "layout.html" %}

{% block content %}
<div class="row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header text-center">
            Confirm Purchase
        </div>
        <div class="card-body">
            <form action="{{ url_for('TOTP') }}" method="POST">
                <div class="mb-3">
                    <label for="owner" class="form-label">Card Owner</label>
                    <input type="text" class="form-control" id="owner" name="owner" required>
                </div>
                <div class="mb-3">
                    <label for="card_number" class="form-label">Card Number</label>
                    <input type="text" class="form-control" id="card_number" name="card_number" required>
                </div>
                <div class="mb-3">
                    <label for="cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cvv" name="cvv" required>
                </div>
                <div class="mb-3">
                    <label for="expiration_date" class="form-label">Expiration Date</label>
                    <input type="text" class="form-control" id="expiration_date" name="expiration_date" placeholder="MM/YY" required>
                </div>
                <div class="text-center">
                    <form action="/send-totp" method="POST">
                        <button type="submit" class="btn btn-primary">Send TOTP Code</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
